# Dependencies
node_modules

# Build output
build
dist
dist-ssr

# Environment
.env
.env.local
*.local

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / editor
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# Caches
.cache
.history
node_modules/.cache
node_modules/.vite

# Electron
dist

# Misc
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.qodo
